{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
<div class="row">
    <div class="col-12">
        {{ form_widget(form) }}
        <input type="hidden" name="_method" value="{{ method_value|default('POST') }}">
    </div>
</div>
<div class="row">
    <div class="col-6">
        <a href="{{ path('page_index') }}" class="btn btn-light">Back to list</a>
    </div>
    <div class="col-6 text-right">
        <button class="btn btn-success">{{ button_label|default('Save') }}</button>
    </div>
</div>
{{ form_end(form) }}