{% extends "base.html.twig" %}

{% block title %}Page {{ page.title }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h1>{{ page.title }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table mt-lg-5">
                <tbody>
                <tr>
                    <th>Title</th>
                    <td>{{ page.title }}</td>
                </tr>
                <tr>
                    <th>Background</th>
                    <td><img src="{{ page.background|storage_url }}" class="img-fluid"></td>
                </tr>
                <tr>
                    <th>Content</th>
                    <td>{{ page.content | nl2br }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-5">
            <a href="{{ path('page_index') }}" class="btn btn-light">Back to list</a>
        </div>
        <div class="col-7 text-right">
            {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-warning" href="{{ path('page_edit', {'id': page.id}) }}">Edit</a>
                {{ include('page/_delete_form.html.twig', { 'page': page }) }}
            {% endif %}
        </div>
    </div>
{% endblock %}
