{{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="hidden" name="_method" value="{{ method_value|default('POST') }}">
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
