{% extends "base.html.twig" %}

{% block title %}Special Sponsorship - {{ specialSponsorship.label }}{% endblock %}

{% block content %}
    <div class="container">
        <h1>Special Sponsorship - {{ specialSponsorship.label }}</h1>

        <table class="table mt-lg-5">
            <tbody>
                <tr>
                    <th>Label</th>
                    <td>{{ specialSponsorship.label }}</td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td>{{ specialSponsorship.price }}</td>
                </tr>
            </tbody>
        </table>
        <p><b>Description</b></p>
        <p class="border p-md-2" style="min-height:150px">{{ specialSponsorship.description | nl2br}}</p>
        <a href="{{ path('special_sponsorship_index') }}" class="btn btn-light">Back to list</a>
        <div class="float-right">
            <a class="btn btn-secondary btn-sm" href="{{ path('special_sponsorship_edit', {'id': specialSponsorship.id}) }}">Edit</a>
            <form class="d-inline" method="post" action="{{ path('special_sponsorship_delete', {'id': specialSponsorship.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ specialSponsorship.id) }}">
                <button class="btn btn-danger btn-sm">Delete</button>
            </form>
        </div>
    </div>
{% endblock %}
