{% extends 'base.html.twig' %}

{% block title %}Event{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-6">
            <h1>Event</h1>
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-warning" href="{{ path('event_unselect') }}">
                Leave and go back to events
                <i class="fas fa-sign-out-alt"></i>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body text-center">
                    <i class="fas fa-calendar-alt fa-4x mb-3 text-primary"></i>
                    {% include 'event/_card-body.html.twig' %}
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <h4>Address</h4>
            <address>
                {{ event.address.streetAddress }}<br />
                {{ event.address.streetAddressComplementary }}<br />
                {{ event.address.postalCode }} {{ event.address.city }}
            </address>

            <h4>Description</h4>
            <p class="lead">
                {{ event.description }}
            </p>
        </div>
    </div>
{% endblock %}
