{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block content %}
<div class="container">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.email, {'value': last_username}) }}
        {{ form_row(form.password) }}
        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >
        <button class="btn btn-lg btn-primary" type="submit">
            Sign in
        </button>
    {{ form_end(form) }}
</div>
{% endblock %}
