{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/app.css') }}"/>
{% endblock %}

{% block title %}Talks{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Talks</h1>
                <a href="{{ path('talk_create') }}" class="btn btn-success float-right mb-3">Add talk</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Speaker</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for talk in talks %}
                        <tr>
                            <td>{{ talk.title }}</td>
                            <td>{{ talk.description }}</td>
                            <td>{{ talk.speaker.name }}</td>
                            <td>
                                <a href="{{ path('talk_show', {'id': talk.id}) }}">Show</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="8">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
