{% extends 'base.html.twig' %}

{% block title %}{{ talk.title }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h1>Talk</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table">
                <tbody>
                <tr>
                    <th>Title</th>
                    <td>{{ talk.title }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ talk.description }}</td>
                </tr>
                <tr>
                    <th>Speaker</th>
                    <td>
                        <a href="{{ path('speaker_show', {'id': talk.speaker.id}) }}">{{ talk.speaker.name }}</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-5">
            <a href="{{ path('talk_index') }}" class="btn btn-light">Back to list</a>
        </div>
        <div class="col-7 text-right">
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('talk_edit', {'id': talk.id}) }}" class="btn btn-secondary">Edit</a>
                <a href="{{ path('talk_confirm_delete', {'id': talk.id}) }}" class="btn btn-danger">Delete</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
