{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
{% endblock %}

{% block title %}Community event manager - Manage Schedule{% endblock %}

{% block body %}

    <div class="container">
        <br>
        <div class="row">
            <div class="col-12">
                <div class="jumbotron">
                    <h1>Add Day to Schedule</h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">

                        {{ form_start(form) }}


                        {{ form_row(form.day) }}
                        <br>
                        {{ form_row(form.place) }}

                        <br>

                        <button type="submit" class="btn btn-block btn-primary float-right">Save Day in Schedule</button>

                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="card bg-dark text-white">
                    <div class="card-body">
                        <h3>How to create the schedule?</h3>
                        <hr>
                        <p>Lorem ipsum...</p>
                    </div>

                </div>
            </div>
        </div>

        <br>
        <a href="{{ path('schedule_index') }}" class="btn btn-outline-primary">Back to Schedule</a>
        {{ form_end(form) }}

    </div>
{% endblock %}

