{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
{% endblock %}

{% block title %}Community event manager - Manage Schedule{% endblock %}

{% block body %}

    <div class="container">
        <br>
        <div class="row">
            <div class="col-12">
                <div class="jumbotron">
                    <h1>Schedule</h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <ul class="nav nav-tabs" id="tabContent" role="tablist">
                            {#<li class="nav-item">#}
                                {#<a class="nav-link active" id="all_days-tab" data-toggle="tab" href="#all_days" role="tab" aria-controls="all_days" aria-selected="true">All days</a>#}
                            {#</li>#}
                            {% for key,day in days %}
                                <li class="nav-item">
                                    <a class="nav-link" id="day-{{ key }}-tab" data-toggle="tab" href="#day-{{ key }}" role="tab" aria-controls="day-{{ key }}" aria-selected="false">{{ key }}</a>
                                </li>
                            {% endfor %}
                        </ul>

                        <div class="tab-content">
                            {#<div class="tab-pane active" id="all_days" role="tabpanel" aria-labelledby="all_days-tab">#}
                                {#AllContent#}
                            {#</div>#}

                            {% for key,day in days %}
                                <div class="tab-pane" id="day-{{ key }}" role="tabpanel" aria-labelledby="day-{{ key }}-tab">

                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                {% for schedule in day %}
                                                    <th>{{ schedule.place }}</th>
                                                {% endfor %}
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for schedule in day %}
                                            {% for activity in schedule.activities if schedule.activities|length > 0 %}
                                                <td>{{ activity.name }}</td>
                                            {% else %}
                                                <td>Not have activities</td>
                                            {% endfor %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <br>
        <div class="text-right">
            <a href="{{ path('schedule_create') }}" class="btn btn-outline-primary">Add new Room to schedule</a>
        </div>

    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script>
        // $('#tabContent a').on('click', function (e) {
        //
        //     e.preventDefault();
        //     $(this).tab('show')
        // })
    </script>
{% endblock %}

