<div class="container-fluid">
    {% if day.spaces.count() == 0 %}
        <div class="row mt-3">
            <div class="col-12">
                <div class="alert alert-danger">
                    There's no space yet
                </div>
            </div>
        </div>
    {% else %}
        <div class="row mt-3">
            <div class="col-12 table-responsive-sm">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th width="12%"><span class="fa fa-clock"></span></th>
                        {% for space in day.spaces %}
                            <th>
                                {% set labelVisible %} <span class="badge badge-primary">Visible</span> {% endset %}
                                {% if space.visible == false %}
                                    {% set labelVisible %}
                                        <span class="badge badge-danger">Not Visible</span>
                                    {% endset %}
                                {% endif %}

                                {{ space.name }} {{ labelVisible }}
                                {{ include('schedule/configure/_delete_space.html.twig', { 'space': space }) }}
                            </th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for hour,slots in timetable[day.day.format('dmY')] %}
                        <tr>
                            <th>{{ hour }}</th>
                            {% for slot in slots %}
                                <td>
                                    {% if slot.title is defined %}
                                        <a href="{{ path('schedule_slot_edit', {'id': slot.id}) }}">{{ slot.title }}</a>
                                        {{ include('schedule/configure/_delete_slot.html.twig', { 'slot': slot}) }}
                                    {% else %}
                                        ---
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="{{ day.spaces.count + 1 }}" class="text-center">
                                There's no slot yet
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        <div class="row">
            <div class="col-12">
                <div class="text-right">
                    <a href="{{ path('schedule_confirm_delete', {'id': day.id}) }}"
                       class="btn btn-danger mb-2 mb-md-0">
                        Remove day
                    </a>
                    <a href="{{ path('schedule_duplicate_item', {'id': day.id}) }}"
                       class="btn btn-success mb-2 mb-md-0">
                        Duplicate day
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
</div>
