{{ form_start(form,{'action': path('schedule_duplicate_item',{'id': schedule.id})}) }}

{% if schedule.day|date_modify("+1 day")|date('Y-m-d') >= event.endAt()|date('Y-m-d') %}
    {{ form_widget(form.day,{ 'value' : schedule.day|date('Y-m-d')}) }}
{% endif %}

{{ form_widget(form.day,{ 'value' : schedule.day|date_modify("+1 day")|date('Y-m-d')})  }}
{{ form_errors(form.day) }}
<input type="hidden" name="_method" value="post">
<input type="hidden" name="eventStart" value="{{ event.startAt()|date('m/d/Y') }}">
<input type="hidden" name="eventEnd" value="{{ event.endAt()|date('m/d/Y') }}">
<div class="row mt-5">
    <div class="col-6">
        <a href="{{ path('schedule_index') }}" class="btn btn-light">Back to schedule</a>
    </div>
    <div class="col-6">
        <button class="btn btn-success" type="submit">
            Duplicate day
        </button>
    </div>
</div>
{{ form_end(form) }}

