{% extends 'base.html.twig' %}

{% block title %}Speakers{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 text-center text-sm-left">
            <h2>Speakers</h2>
        </div>
        <div class="col-sm-6 text-center text-sm-right">
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('speaker_create') }}" class="btn btn-primary">Add speaker</a>
            {% endif %}
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12 table-responsive-sm">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th class="text-center">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for speaker in speakers %}
                    <tr>
                        <td>
                            <a href="{{ path('speaker_show', {'id': speaker.id}) }}">
                                {{ speaker.title }}
                            </a>
                        </td>
                        <td>{{ speaker.name }}</td>
                        <td>{{ speaker.email }}</td>
                        <td class="text-center">
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('speaker_edit', {'id': speaker.id}) }}"
                                   class="btn btn-secondary mb-2 mb-md-0">
                                    Edit
                                </a>
                                <a href="{{ path('speaker_confirm_delete', {'id': speaker.id}) }}"
                                   class="btn btn-danger mb-2 mb-md-0">
                                    Delete
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
