{% extends 'base.html.twig' %}

{% block title %}Speakers{% endblock %}

{% block body %}
    <h1>Speakers</h1>
    <a href="{{ path('speaker_create') }}" class="btn btn-success float-right mb-3">Add speaker</a>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Title</th>
            <th>Email</th>
            <th>Biography</th>
            <th>Photo</th>
            <th>Socials</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for speaker in speakers %}
            <tr>
                <td>{{ speaker.id }}</td>
                <td>{{ speaker.name }}</td>
                <td>{{ speaker.title }}</td>
                <td>{{ speaker.email }}</td>
                <td>{{ speaker.biography }}</td>
                <td><img src="{{speaker.photo|storage_url}}" class="img-fluid"></td>
                <td>{{ speaker.twitter }} {{ speaker.facebook }} {{ speaker.linkedin }} {{ speaker.github }}</td>
                <td>
                    <a href="{{ path('speaker_show', {'id': speaker.id}) }}">Show</a>
                    <a href="{{ path('speaker_edit', {'id': speaker.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
