{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/app.css') }}"/>
{% endblock %}

{% block title %}Speaker{% endblock %}

{% block body %}
    <div class="container">
        <h1>Speaker</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Title</th>
                <td>{{ speaker.title }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ speaker.name }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ speaker.email }}</td>
            </tr>
            <tr>
                <th>Biography</th>
                <td>{{ speaker.biography }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td><img src="{{ speaker.photo|storage_url }}" alt="Avatar" class="img-fluid"></td>
            </tr>
            <tr>
                <th>Twitter</th>
                <td>{{ speaker.twitter }}</td>
            </tr>
            <tr>
                <th>Facebook</th>
                <td>{{ speaker.facebook }}</td>
            </tr>
            <tr>
                <th>Linkedin</th>
                <td>{{ speaker.linkedin }}</td>
            </tr>
            <tr>
                <th>Github</th>
                <td>{{ speaker.github }}</td>
            </tr>
            </tbody>
        </table>

        <a href="{{ path('speaker_index') }}" class="btn btn-light">Back to list</a>
        <div class="float-right">
            <a href="{{ path('speaker_edit', {'id': speaker.id}) }}" class="btn btn-warning">Edit</a>
            {{ include('speaker/_delete_form.html.twig', {'speaker': speaker}) }}
        </div>
    </div>
{% endblock %}
