{% extends 'base.html.twig' %}

{% block title %}Special Sponsorship index{% endblock %}

{% block content %}
    <div class="row">
        <div class="col col-6">
            <h1>Special Sponsorship</h1>
        </div>
        <div class="col col-6">
            <p class="text-right">
                <a class="btn btn-primary" href="{{ path('special_benefit_create') }}">Create new</a>
            </p>
        </div>
    </div>

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Label</th>
                <th>Price</th>
                <th class="text-right">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for specialBenefit in specialBenefits %}
            <tr>
                <td>{{ specialBenefit.label }}</td>
                <td>{{ specialBenefit.price }}</td>
                <td class="text-right">
                    <a class="btn btn-info btn-sm" href="{{ path('special_benefit_show', {'id': specialBenefit.id}) }}">Show</a>
                    <a class="btn btn-secondary btn-sm" href="{{ path('special_benefit_edit', {'id': specialBenefit.id}) }}">edit</a>
                    <form class="d-inline" method="post" action="{{ path('special_benefit_delete', {'id': specialBenefit.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ specialBenefit.id) }}">
                        <button class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
