{% extends 'base.html.twig' %}

{% block title %}Special Sponsorships{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 text-center text-sm-left">
            <h2>Special Sponsorships</h2>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="col-sm-6 text-center text-sm-right">
                <a class="btn btn-primary" href="{{ path('special_benefit_create') }}">Add special sponsorship</a>
            </div>
        {% endif %}
    </div>

    <div class="row mt-3">
        <div class="col-12 table-responsive-sm">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Label</th>
                    <th>Price</th>
                    <th class="text-center">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for specialBenefit in specialBenefits %}
                    <tr>
                        <td>{{ specialBenefit.label }}</td>
                        <td>{{ specialBenefit.price|localizedcurrency(currency) }}</td>
                        <td class="text-center">
                            <a class="btn btn-info mb-2 mb-md-0"
                               href="{{ path('special_benefit_show', {'id': specialBenefit.id}) }}">Show</a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="btn btn-warning mb-2 mb-md-0"
                                   href="{{ path('special_benefit_edit', {'id': specialBenefit.id}) }}">Edit</a>
                                {{ include('specialBenefit/_delete_form.html.twig', {'specialBenefit': specialBenefit}) }}
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
