{% extends 'base.html.twig' %}

{% block title %}Sponsorship Benefit list{% endblock %}

{% block content %}
    <div class="row">
        <div class="col col-6">
            <h1>Sponsorship Benefits</h1>
        </div>
        <div class="col col-6">
            <p class="text-right">
                <a class="btn btn-primary" href="{{ path('sponsorship_benefit_create') }}">Create new</a>
                <a class="btn btn-info" href="{{ path('sponsorship_level_benefit_view') }}">View Sponsorship Level Benefits</a>
            </p>
        </div>
    </div>

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Label</th>
                <th class="text-right">actions</th>
            </tr>
        </thead>
        <tbody>
            {% for benefit in benefits %}
                <tr>
                    <td>{{ benefit.label }}</td>
                    <td class="text-right">
                        <a class="btn btn-secondary btn-sm" href="{{ path('sponsorship_benefit_edit', {'id': benefit.id}) }}">Edit </a>
                        <form class="d-inline" method="post" action="{{ path('sponsorship_benefit_delete', {'id': benefit.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ benefit.id) }}">
                            <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
