<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %} - Community Event Manager</title>
        <link rel="stylesheet" href="{{ asset('build/base.css') }}" />
        <link rel="stylesheet" href="{{ asset('build/dashboard.css') }}" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'layout/header.html.twig' %}
        <div class="container-fluid">
            <div class="row">
                {% set displaySidebar = is_granted('ROLE_USER') %}
                {% if displaySidebar %}
                    <nav id="sidebar-toggle" class="sidebar col-5 col-md-3 col-lg-2 bg-light collapse">
                        {% include 'layout/sidebar.html.twig' %}
                    </nav>
                {% endif %}

                <div class="{{ displaySidebar ? 'offset-lg-2 col-lg-10' : 'col' }}">
                    {% for msg in app.session.flashbag.get('error') %}
                        <div class="row">
                            <div class="col-12">
                                <div class="alert alert-danger">
                                    {{ msg }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    <main role="main">
                        <div class="pt-3">
                            {% block content '' %}
                        </div>
                    </main>
                </div>
            </div>
        </div>

        <div id="snackbar"></div>

        <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        <script src="{{ asset('build/base.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
