{% extends "base.html.twig" %}

{% block title %}Community event manager - Add organisation{% endblock %}

{% block content %}
    <div class="container">
        <h1>Add organisation</h1>

        {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.website) }}
        {{ form_row(form.address) }}
        {{ form_row(form.comment) }}

        <a href="{{ path('organisation_list') }}" class="btn btn-light">Back to list</a>
        <button type="submit" class="btn btn-success float-right">Add organisation</button>
        {{ form_end(form) }}

    </div>
{% endblock %}
