{% extends "base.html.twig" %}

{% block title %}New organisation{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 text-center text-sm-left">
            <h1>New organisation</h1>
        </div>
    </div>

    {{ form_start(form) }}
    <div class="row">
        <div class="col-12">
            {{ form_row(form.name) }}
            {{ form_row(form.website) }}
            {{ form_row(form.address) }}
            {{ form_row(form.comment) }}
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <a href="{{ path('organisation_list') }}" class="btn btn-light">Back to list</a>
        </div>
        <div class="col-6 text-right">
            <button type="submit" class="btn btn-success float-right">Add organisation</button>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
