{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/app.css') }}" />
{% endblock %}

{% block title %}Community event manager - Edit organisation{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit {{ organisation.name }}</h1>

        {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.website) }}
        {{ form_row(form.address) }}
        {{ form_row(form.comment) }}

        <button type="submit" class="btn btn-success">Edit organisation</button>
        {{ form_end(form) }}

        <a href="{{ path('organisation_list') }}" class="btn btn-light">Back to list</a>
    </div>
{% endblock %}
