{% extends "base.html.twig" %}

{% block title %}Organisations{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 text-center text-sm-left">
            <h2>Organisations</h2>
        </div>
        <div class="col-sm-6 text-center text-sm-right">
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('organisation_create') }}" class="btn btn-success">Add organisation</a>
            {% endif %}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 table-responsive-sm">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Website</th>
                    <th scope="col" class="text-center">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for organisation in organisations %}
                    <tr>
                        <td>
                            {{ organisation.name }}
                        </td>
                        <td>
                            <a href="{{ organisation.website }}" target="_blank">{{ organisation.website }}</a>
                        </td>
                        <td class="text-center">
                            <a href="{{ path('organisation_show', {'id': organisation.id}) }}"
                               class="btn btn-info mb-2 mb-md-0">
                                Show
                            </a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('organisation_edit', {'id': organisation.id}) }}"
                                   class="btn btn-warning mb-2 mb-md-0">
                                    Edit
                                </a>
                                <a href="{{ path('organization_confirm_delete', {'id': organisation.id}) }}"
                                   class="btn btn-danger mb-2 mb-md-0">
                                    Delete
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
