{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/app.css') }}"/>
{% endblock %}

{% block title %}Community event manager - {{ organisation.name }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>Organisations - {{ organisation.name }}</h1>

        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>Name</th>
                    <td>{{ organisation.name }}</td>
                </tr>
                <tr>
                    <th>Website</th>
                    <td><a href="{{ organisation.website }}">{{ organisation.website }}</a></td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>{{ organisation.address | default('N/A') }}</td>
                </tr>
                <tr>
                    <th>Comment</th>
                    <td>{{ organisation.comment | default('N/A') }}</td>
                </tr>
            </tbody>
        </table>
        <a href="{{ path('organisation_list') }}" class="btn btn-light">Back to list</a>
        <div class="float-right">
            <a href="{{ path('organisation_edit', {'id': organisation.id}) }}" class="btn btn-warning">Edit</a>
            {{ include('organisations/_delete_form.html.twig', {'organisation': organisation}) }}
        </div>
    </div>
{% endblock %}
