{% extends "base.html.twig" %}

{% block title %}{{ organisation.name }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h1>{{ organisation.name }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th>Name</th>
                    <td>{{ organisation.name }}</td>
                </tr>
                <tr>
                    <th>Website</th>
                    <td><a href="{{ organisation.website }}">{{ organisation.website }}</a></td>
                </tr>
                {% if organisation.contact %}
                    <tr>
                        <th>Contact</th>
                        <td>{{ organisation.contact.firstName }} {{ organisation.contact.lastName }}
                            {% for address in organisation.contact.addresses %}
                                 <address>
                                    {{ address.streetAddress }}<br />
                                    {{ address.streetAddressComplementary }}<br />
                                    {{ address.postalCode }} {{ address.city }}
                                </address>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ organisation.contact.email }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <th>Contact</th>
                        <td><i>No contact provided.</i></td>
                    </tr>
                {% endif %}
                <tr>
                    <th>Comment</th>
                    <td>{{ organisation.comment | default('N/A') }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-5">
            <a href="{{ path('organisation_list') }}" class="btn btn-light">Back to list</a>
        </div>
        <div class="col-7 text-right">
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('organisation_edit', {'id': organisation.id}) }}" class="btn btn-warning">Edit</a>
                <a href="{{ path('organization_confirm_delete', {'id': organisation.id}) }}" class="btn btn-danger">Delete</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
