{% extends "base.html.twig" %}

{% block title %}organisation file to import{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h1>Select an organisation file to import</h1>
        </div>
    </div>

    {{ form_start(form, {'action': path('organisation_csv_upload')}) }}
    <div class="row">
        <div class="col-12">
            {{ form_widget(form) }}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-6">
            <a href="{{ path('speaker_index') }}" class="btn btn-light">Back to list</a>
        </div>
        <div class="col-6 text-right">
            <button class="btn btn-success">Import</button>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/upload_organisation.js') }}"></script>
{% endblock %}
